1. Array is a collection of contigenous memory location.
2. In python list is type of array
3. list is dynamic in nature.

### Basic array operation
Traverse − print all the array elements one by one.

Insertion − Adds an element at the given index.

Deletion − Deletes an element at the given index.

Search − Searches an element using the given index or by the value.

Update − Updates an element at the given index.

### q1: Let us say your expense for every month are listed below,
    January - 2200
    February - 2350
    March - 2600
    April - 2130
    May - 2190
Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
    got a refund of 200$. Make a correction to your monthly expense list
    based on this

In [16]:
#  create Expenses list
l = [2200, 2350, 2600, 2130, 2190]

print('sol1:spent extra compare to January - ', l[1]-l[0])
print('sol2: total expense in first quarter (first three months) of the year - ', l[0]+l[1]+l[2])
print('sol3: spent exactly 2000 dollars in any month - ', 200 in l)
t = l.append(1980)
print('sol4: Add june expense 1980 in list - ', l)
l[3] = l[3]-200
print('sol5: in april got 200 refund update expensis in list - ',l)

sol1:spent extra compare to January -  150
sol2: total expense in first quarter (first three months) of the year -  7150
sol3: spent exactly 2000 dollars in any month -  False
sol4: Add june expense 1980 in list -  [2200, 2350, 2600, 2130, 2190, 1980]
sol5: in april got 200 refund update expensis in list -  [2200, 2350, 2600, 1930, 2190, 1980]

### Q2: You have a list of your favourite marvel super heros.
heros=['spider man','thor','hulk','iron man','captain america']
#### Using this find out,
1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [37]:
heros=['spider man','thor','hulk','iron man','captain america']
print('sol1: Length of the list -', len(heros))
heros.append('Black Panther')
print('sol2: add blackpanther at the end of list -',heros )

heros.remove('Black Panther')
heros.insert(2, 'Black Panther')

print('sol3: replace blackpanther after hulk - ', heros)

heros[1:3] = ['doctor strange']
print('sol4: replace thor and hulk with doctor strange - ', heros)

heros.sort()
print('sol5: sort list in alphabatical order - ',heros )

sol1: Length of the list - 5
sol2: add blackpanther at the end of list - ['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'Black Panther']
sol3: replace blackpanther after hulk -  ['spider man', 'thor', 'Black Panther', 'hulk', 'iron man', 'captain america']
sol4: replace thor and hulk with doctor strange -  ['spider man', 'doctor strange', 'hulk', 'iron man', 'captain america']
sol5: sort list in alphabatical order -  ['captain america', 'doctor strange', 'hulk', 'iron man', 'spider man']

### Q3: Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [43]:
max_num = int(input("Enter the number"))
l = []
for i in range(1, max_num):
    if i%2 !=0:
        l.append(i)
print(l)

Enter the number200
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199]

### List Method
```
Method	Description
append()	Adds an element at the end of the list
clear()	Removes all the elements from the list
copy()	Returns a copy of the list
count()	Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()	Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	Removes the element at the specified position
remove()	Removes the item with the specified value
reverse()	Reverses the order of the list
sort()	Sorts the list
```

In [72]:
l = [1, 3, 5, 7, 9, 11, 13, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199]

In [73]:

t = l.copy()
print('copy of list-', t)

l.append(54)
print('appended list-', l)

l.clear()
print('clear list -', l)

z = t.count(13)
print('count of copyed list -', z)


t.reverse()
print('&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& Reversed list', t)

copy of list- [1, 3, 5, 7, 9, 11, 13, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199]
appended list- [1, 3, 5, 7, 9, 11, 13, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199, 54]
clear list - []
count of copyed list - 2
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& Reversed list [199, 197, 195, 193, 191, 189, 187, 185, 183, 181, 179, 177, 175, 173, 171, 169, 167, 165, 163, 161, 159, 157, 155, 153, 151, 149, 147, 145, 143, 141, 139, 137, 135, 133, 131, 129, 127, 125, 123, 121, 119, 117, 115, 113, 111, 109, 107, 105, 103, 101, 99, 97, 95, 93, 91, 89, 87, 85, 83, 81, 79, 77, 75, 73, 71, 69, 67, 65, 63, 61, 59, 57, 55, 53, 51, 49, 47, 45, 43, 41, 39, 37, 35, 33, 31, 29, 27, 25, 23, 21, 19, 17, 15, 13, 13, 11, 9, 7, 5, 3, 1]

### Given a list, write a Python program to swap first and last element of the list.
#### Input : [12, 35, 9, 56, 24]
#### Output : [24, 35, 9, 56, 12]

In [77]:
l = [12, 35, 9, 56, 24]
l[0], l[-1] = l[-1], l[0]
print(l)

[24, 35, 9, 56, 12]

### Python – Swap elements in String list
####  Initializing list
#### test_list = ['Gfg', 'is', 'best', 'for', 'Geeks']
#### replace G with e and e with G

In [88]:
test_list = ['Gfg', 'is', 'best', 'for', 'Geeks']
for i in test_list:
    l = []
    l.append(i.replace('G','_').replace('e', 'G').replace('_','e'))  
    print(l)

['efg']
['is']
['bGst']
['for']
['eGGks']

###  Reversing a List in Python
#### Input : list = [4, 5, 6, 7, 8, 9]
#### Output : [9, 8, 7, 6, 5, 4]

In [89]:
list = [4, 5, 6, 7, 8, 9]
print(list[::-1])

[9, 8, 7, 6, 5, 4]

In [91]:
list = [4, 5, 6, 7, 8, 9]
l = []
for i in list:
    l.insert(0,i)
print(l)

[9, 8, 7, 6, 5, 4]

In [94]:
list = [4, 5, 6, 7, 8, 9]
list.reverse()
print(list)

[9, 8, 7, 6, 5, 4]